* {
    box-sizing: border-box;
}

html {
    display: flex;
    min-height: 100%;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cascadia Code', 'JetBrains Mono', sans-serif;
}

body, body a {
    color: #24303b;
}

.header {
    width: 100%;
    padding: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid #eaeaea;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* column-gap for flex layout is only supported since Safari 14.5 */
    /* column-gap: 0.8em; */
}

.nav ul li {
    list-style: none;
    /* alternative for column-gap begin */
    margin: 0 0.4em;
    /* alternative for column-gap end */
}

.nav ul li a {
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    padding: 0.8em;
    background-color: #fafafa;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 0.85em;
    color: #666;
    line-height: 1em;
    margin: 0.3em;
    text-align: center;
}

.footer a {
    color: #666;
}

#hitokoto p::before {
    content: "「";
    position: relative;
    top: -0.1em;
    left: -0.2em;
}

#hitokoto p::after {
    content: "」";
    position: relative;
    bottom: -0.1em;
    right: -0.2em;
}

#footer {
    height: 12em;
}

.body {
    width: 100%;
    max-width: min(1300px, 100%);
    padding: 0 7%;
}

.site-title {
    padding: 8em 0;
}

.site-title h1 {
    font-size: 5em;
    margin: 0;
}

.site-title h1 .accent1 {
    color: #89725b
}

.site-title h1 .accent2 {
    color: #207178;
}

.site-title h1 .accent3 {
    color: #3e606f;
}

.site-title h1 .accent4 {
    color: #445878;
}

.site-title h1 .accent5 {
    color: #c24366;
}

.site-title h1 .accent6 {
    color: #af4d00;
}

.main {
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* row-gap for flex layout is only supported since Safari 14.5 */
    /* row-gap: 8em; */
}

.posts .post {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.posts .post:first-of-type {
    width: 100%;
}

/* alternative for row-gap begin */

.posts .post {
    margin-top: 4em;
    margin-bottom: 4em;
}

.posts .post:first-of-type {
    margin-top: 0;
}

/* alternative for row-gap end */

.posts .post .title {
    font-size: 1.8em;
}

.posts .post:first-of-type .title {
    font-size: 2.2em;
}

.posts .post .title a {
    text-decoration: none;
}

.posts .post .title a:hover {
    text-decoration: underline;
}

.posts .post time {
    margin-top: 1em;
    font-size: 1.2em;
    color: #666;
}

.article {
    width: 69vw;
    max-width: min(768px, 100%);
    word-wrap: break-word;
    word-break: normal;
}

.article .title {
    padding: 1.5em 0 0.6em;
}

.article .title h1 {
    font-size: 3em;
    margin: 0;
}

.article .meta {
    margin-bottom: 3em;
}

.article .meta time {
    font-size: 1.2em;
    color: #666;
}

@media screen and (max-width: 767px) {
    .site-title {
        padding: 4em 0;
    }

    .site-title h1 {
        font-size: 4em;
    }

    .main {
        margin-bottom: 2.5em;
    }

    /* row-gap for flex layout is only supported since Safari 14.5 */
    /* .posts {
        row-gap: 3em;
    } */
    .posts .post {
        width: 100%;
    }

    /* alternative for row-gap begin */

    .posts .post {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .posts .post:first-of-type {
        margin-top: 0;
    }

    /* alternative for row-gap end */

    .posts .post:first-of-type .title {
        font-size: 1.8em;
    }

    .article {
        width: 100%;
    }

    .article .title {
        padding: 0.8em 0 0.3em;
    }
}

.content {
    font-size: 1.1em;
}

.content h1 a.anchor::before, .content h2 a.anchor::before, .content h3 a.anchor::before, .content h4 a.anchor::before, .content h5 a.anchor::before, .content h6 a.anchor::before {
    display: inline;
    content: "#";
    position: absolute;
    transform: translateX(-0.92em);
    color: #aaa;
    font-weight: 400;
}

.content h1 {
    font-size: 1.8em;
}

.content, .content p, .content ul, .content ol {
    line-height: 1.66;
}

.content p {
    text-align: justify;
}

.content ul, .content ol {
    padding-left: 1.2em;
}

.content img {
    max-width: 100%;
}

.content code {
    font-family: 'Cascadia Code', 'JetBrains Mono', monospace;
    font-size: 90%;
}

.content code:not(.hljs) {
    color: #913613;
}

.content pre {
    display: block;
    overflow-x: auto;
    overflow-wrap: normal;
    word-break: normal;
    tab-size: 4;
    background-color: #282c34;
    color: #dcdccc;
    border-radius: 10px;
    padding: 1.25em 1.5em;
    line-height: 1.5;
}

.content code.hljs {
    background-color: inherit;
}

.content table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

.content table tr {
    border-top: 1px solid #dfe2e5;
}

.content table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.content table th, table td {
    border: 1px solid #dfe2e5;
    padding: 0.6em 1em;
}

.content blockquote {
    border-left: 0.25rem solid #dfe2e5;
    margin-left: 0;
    padding-left: 1rem;
}

.content blockquote, .content blockquote a {
    color: #999;
}

.content a.footnote-ref {
    text-decoration: none;
}

.content a.footnote-ref::before {
    content: "[";
}

.content a.footnote-ref::after {
    content: "]";
}

.content .footnote {
    font-size: 97%;
}

.content .footnote p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.content a.footnote-backref {
    text-decoration: none;
}