<!DOCTYPE html>
<html {%- if global.site.language %} lang="{{ global.site.language }}" {%- endif %}>

<head>
  {% block head %}
  {% include ['custom/head.html', 'head.html'] ignore missing %}
  {% endblock %}
</head>

<body>
  {% include ['custom/body_head.html', 'body_head.html'] ignore missing %}

  <header class="header">
    <nav class="nav">
      <ul>
        {% include ['custom/nav.html', 'nav.html'] ignore missing %}
      </ul>
    </nav>
  </header>
  <div class="body">
    {% block body %}{% endblock %}
  </div>

  {% include 'hitokoto.html' %}
  <footer class="footer" id="footer">
    {% include ['custom/footer.html', 'footer.html'] ignore missing %}
  </footer>

  {% block foot %}
  {% include ['custom/foot.html', 'foot.html'] ignore missing %}
  {% endblock %}
</body>

</html>