{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<title>{{ entry.title + ' - ' + global.site.title }}</title>
<link rel="stylesheet" href="{{ url_for('theme.static', filename='railscasts.min.css') }}">
<script src="{{ url_for('theme.static', filename='highlight.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
{% endblock %}

{% block body %}
<main class="main page">
  <article class="article">
    <div class="title">
      <h1 class="title">{{ entry.title }}</h1>
    </div>
    {% include ['custom/meta.html', 'meta.html'] ignore missing %}
    <div class="content">
      {% if entry.toc %}
      <details open>
        <summary>目录：</summary>
        <nav>{{ entry.toc_html | safe }}</nav>
      </details>
      <hr>
      {% endif %}

      {{ entry.content | safe }}
    </div>
  </article>
  {% include ['custom/discuss-thread.html', 'discuss-thread.html'] ignore missing %}
</main>
{% endblock %}

{% block foot %}
{{ super() }}
<script>
  // enable code syntax highlight
  hljs.configure({ languages: [] }); // disable language auto detection
  hljs.initHighlightingOnLoad();

  // enable medium-zoom for all images
  mediumZoom(document.querySelectorAll('.content img'));
</script>
{% endblock %}